최근 센서의 report_data를 DB에서 불러와 결측치가 있는 지를 조사한다

In [1]:
#pymysql 설치
#!pip install pymysql
import pymysql
import pandas as pd
#MYSQL 연결하기
report_db =pymysql.connect(host='xxx.xxx.xx.xx',user='root',password='xxxxx',db='SmartLight',charset='utf8',autocommit=True,cursorclass=pymysql.cursors.DictCursor)

cursor = report_db.cursor(pymysql.cursors.DictCursor)
sql = "SELECT * FROM report_data;"
cursor.execute(sql)
result = cursor.fetchall()

import pandas as pd
result = pd.DataFrame(result)
result

,USE_DATETIME,metering_GID,gid,usid,operation_mode,device_cnt,did,device_fault,fault_status,module_cnt,mid,mclass,mtype,l_onoff,l_level,s_status,s_opmode,presence,illuminance,presence_int
0,2022-02-25 10:28:56,64256,3,12288,M,23,8,0,0000000000000000,3,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
1,2022-02-25 10:28:56,64256,3,12288,M,23,8,0,0000000000000000,3,2,s,5,None,NaN,1.0,1.0,n,NaN,NaN
2,2022-02-25 10:28:56,64256,3,12288,M,23,9,0,0000000000000000,3,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
3,2022-02-25 10:28:56,64256,3,12288,M,23,9,0,0000000000000000,3,2,s,5,None,NaN,1.0,1.0,n,NaN,NaN
4,2022-02-25 10:28:56,64256,3,12288,M,23,10,0,0000000000000000,3,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37529224,2023-01-12 08:37:15,64769,1,12288,M,99,95,4,0000000000000000,2,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0
37529225,2023-01-12 08:37:15,64769,1,12288,M,99,96,4,0000000000000000,1,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
37529226,2023-01-12 08:37:15,64769,1,12288,M,99,97,4,0000000000000000,1,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
37529227,2023-01-12 08:37:15,64769,1,12288,M,99,98,4,0000000000000000,2,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
37529228,2023-01-12 08:37:15,64769,1,12288,M,99,98,4,0000000000000000,2,1,s,5,None,NaN,1.0,2.0,p,NaN,2.0

In [5]:
data1 = result

# report_data 에서 did가 1인 장비를 분류

In [7]:
df1 = data1[data1['did'] == 1]
df1

,USE_DATETIME,metering_GID,gid,usid,operation_mode,device_cnt,did,device_fault,fault_status,module_cnt,mid,mclass,mtype,l_onoff,l_level,s_status,s_opmode,presence,illuminance,presence_int
43,2022-02-25 10:28:56,64517,1,12288,M,38,1,1,0000000000000000,2,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
44,2022-02-25 10:28:56,64517,1,12288,M,38,1,1,0000000000000000,2,1,s,5,None,NaN,1.0,1.0,p,NaN,NaN
119,2022-02-25 10:55:55,64259,1,12288,M,74,1,0,0000000000000000,1,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
409,2022-02-25 10:56:03,64512,4,12291,M,28,1,0,0000000000000000,2,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
410,2022-02-25 10:56:03,64512,4,12291,M,28,1,0,0000000000000000,2,1,s,3,None,NaN,1.0,1.0,None,800.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37231324,2023-01-06 08:43:34,64769,1,12288,M,99,1,4,0000000000000000,2,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0
37231496,2023-01-06 08:48:35,64769,1,12288,M,99,1,4,0000000000000000,2,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
37231497,2023-01-06 08:48:35,64769,1,12288,M,99,1,4,0000000000000000,2,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0
37231669,2023-01-06 08:53:36,64769,1,12288,M,99,1,4,0000000000000000,2,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
37231670,2023-01-06 08:53:36,64769,1,12288,M,99,1,4,0000000000000000,2,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0

# did1 만 모인 데이터셋의 인덱스를 오름차순으로 재지정

In [8]:
df2 = df1.reset_index(drop=False)
df2

,index,USE_DATETIME,metering_GID,gid,usid,operation_mode,device_cnt,did,device_fault,fault_status,...,mid,mclass,mtype,l_onoff,l_level,s_status,s_opmode,presence,illuminance,presence_int
0,43,2022-02-25 10:28:56,64517,1,12288,M,38,1,1,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
1,44,2022-02-25 10:28:56,64517,1,12288,M,38,1,1,0000000000000000,...,1,s,5,None,NaN,1.0,1.0,p,NaN,NaN
2,119,2022-02-25 10:55:55,64259,1,12288,M,74,1,0,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
3,409,2022-02-25 10:56:03,64512,4,12291,M,28,1,0,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
4,410,2022-02-25 10:56:03,64512,4,12291,M,28,1,0,0000000000000000,...,1,s,3,None,NaN,1.0,1.0,None,800.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367395,37231324,2023-01-06 08:43:34,64769,1,12288,M,99,1,4,0000000000000000,...,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0
367396,37231496,2023-01-06 08:48:35,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367397,37231497,2023-01-06 08:48:35,64769,1,12288,M,99,1,4,0000000000000000,...,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0
367398,37231669,2023-01-06 08:53:36,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367399,37231670,2023-01-06 08:53:36,64769,1,12288,M,99,1,4,0000000000000000,...,1,s,5,None,NaN,1.0,2.0,n,NaN,0.0

In [9]:
did1 = df2

In [10]:
did1_light = did1[did1['mclass'] == 'l']
did1_light

,index,USE_DATETIME,metering_GID,gid,usid,operation_mode,device_cnt,did,device_fault,fault_status,...,mid,mclass,mtype,l_onoff,l_level,s_status,s_opmode,presence,illuminance,presence_int
0,43,2022-02-25 10:28:56,64517,1,12288,M,38,1,1,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
2,119,2022-02-25 10:55:55,64259,1,12288,M,74,1,0,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
3,409,2022-02-25 10:56:03,64512,4,12291,M,28,1,0,0000000000000000,...,0,l,0,on,100.0,NaN,NaN,None,NaN,NaN
5,465,2022-02-25 10:56:09,64512,1,12288,M,26,1,0,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
7,517,2022-02-25 10:56:12,64769,1,12288,M,98,1,1,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367390,37230977,2023-01-06 08:33:32,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367392,37231150,2023-01-06 08:38:33,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367394,37231323,2023-01-06 08:43:34,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367396,37231496,2023-01-06 08:48:35,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN
367398,37231669,2023-01-06 08:53:36,64769,1,12288,M,99,1,4,0000000000000000,...,0,l,0,off,0.0,NaN,NaN,None,NaN,NaN

해당 데이터셋의 데이터 중 5분 간격 이상 data가 omitted 된 곳을 특정
엑셀로 뽑아 우선적으로 확인한다
다른 실증지에 적용하기 위해서는 4번째 줄, metering_GID를 변동 하면 된다

In [ ]:
import datetime
data4 = result
df_ex = data4[data4['did'] == 1] # data1 = 총 데이터,
df_ex2 = df_ex[df_ex['metering_GID'] == 64258]
df_ex3 = df_ex2[df_ex2['mclass'] == 'l']
df_ex_final = df_ex3.reset_index(drop=False) # index 정리

time_list=[]
for p in range(len(data_main1)-1):
    if (df_ex_final.loc[p+1,"USE_DATETIME"]-df_ex_final.loc[p,"USE_DATETIME"]).seconds/60>6:
        for t in range(int((df_ex_final.loc[p+1,"USE_DATETIME"]-df_ex_final.loc[p,"USE_DATETIME"]).seconds/60)):
            time_list.append(df_ex_final.loc[p,"USE_DATETIME"]+datetime.timedelta(minutes=5))
                
set_time_list=set(time_list)
set_time_list_list=list(set_time_list)
result1=pd.Series(set_time_list_list)
data_main1["누락"]=result1

data_main1.to_csv('test_time9.csv')

# metering_GID -> did -> mclass 순으로 분류, 최근 600개 수신 데이터 표시

In [83]:
data3 = result
df_ex = data3[data3['metering_GID'] == 64258] # data1 = 총 데이터,
df_ex2 = df_ex[df_ex['did'] == 1]
df_ex3 = df_ex2[df_ex2['mclass'] == 'l']
df_ex_final = df_ex3.reset_index(drop=False) # index 정리
#df_ex_final.tail(300)
df_ex_final
#df_ex_final.plot(kind='scatter',x='USE_DATETIME',y='did',color='red')
#plt.show()

Empty DataFrame
Columns: [index, USE_DATETIME, metering_GID, gid, usid, operation_mode, device_cnt, did, device_fault, fault_status, module_cnt, mid, mclass, mtype, l_onoff, l_level, s_status, s_opmode, presence, illuminance, presence_int]
Index: []

[0 rows x 21 columns]

In [87]:
df_ex = data[data['metering_GID'] == 64258] # data1 = 총 데이터,
df_ex2 = df_ex[df_ex['did'] == 1]
df_ex3 = df_ex2[df_ex2['mclass'] == 'l']
df_ex_final = df_ex3.reset_index(drop=False) # index 정리
df_ex_final.tail(600)
#df_ex_final
df_ex_final

Empty DataFrame
Columns: [index, USE_DATETIME, metering_GID, gid, usid, operation_mode, device_cnt, did, device_fault, fault_status, module_cnt, mid, mclass, mtype, l_onoff, l_level, s_status, s_opmode, presence, illuminance, presence_int]
Index: []

[0 rows x 21 columns]

In [13]:
df_ex0 = data[data['metering_GID'] == 64274] # report_data를 metering_GID로 필터링
#df_ex1 = df_ex0[df_ex0['gid'] == 1]          # gid로 필터링
#df_ex2 = df_ex1[df_ex1['did'] == 1]         # did로 필터링 
#df_ex3 = df_ex2[df_ex2['mclass'] == 'l']     # mclass로 필터링
#df_ex4 = df_ex3[df_ex3['USE_DATETIME'].between('2022-09-01 09:00:00','2023-01-09 06:00:00')] # USE_DATETIME 항에서 일정 시간을 필터링
df_ex_final = df_ex0.reset_index(drop=False) # 새롭운 index를 부여 하여 오름차순으로 정리
                 
#df_ex_final                                  # 데이터 프레임 표시
df_ex_final.tail(600)                        # 필터링 된 데이터셋의 최근 데이터 600개를 표시한다


#df_ex_final.tail(600).plot(kind='scatter',x='USE_DATETIME',y='did',color='red')    # 시간에 비례한 did 정보를 시각화 하여 끊김 정보를 시각화 하여 표시
#plt.show()

Empty DataFrame
Columns: [index, USE_DATETIME, metering_GID, gid, usid, operation_mode, device_cnt, did, device_fault, fault_status, module_cnt, mid, mclass, mtype, l_onoff, l_level, s_status, s_opmode, presence, illuminance, presence_int]
Index: []

[0 rows x 21 columns]